exercise3/OSELAS.BSP-EnergyMicro-Gecko/platform-energymicro-efm32gg-dk3750/*
exercise3/OSELAS.BSP-EnergyMicro-Gecko/src/*
#files being edited
*~

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym
